body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background 0.5s;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    margin: 0 1em;
  }
  
  .container:hover {
    transform: scale(1.05);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  input {
    width: 80%;
    margin-bottom: 1em;
  }
  
  button {
    background: #0072ff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #00c6ff;
  }
  
  #results-div {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.5s;
    opacity: 0;
    margin-bottom: 0.5em;
  }
  
  #results-div.show {
    opacity: 1;
  }
  

  footer {
    display: flex;
    gap: 0.4em;
    justify-content: center;
    align-items: center;
    padding: .75em 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #39587e;
    margin-top: 40px
  }

  footer img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    transition: transform 0.3s;
  }

   footer img:hover {
    transform: scale(1.2);
  }
  
  footer h3{
    font-weight: bold;

  }